Flask==2.2.2
Flask-Cors==3.0.10
Jinja2==3.1.2
Werkzeug==2.2.2
cssmin==0.2.0
jsmin==3.0.1
# Database connections
Flask-SQLAlchemy==2.5.1
Flask-MongoEngine==0.20.2

# Authentication
Flask-Login==0.6.2
Flask-Security-Too==4.1.2

# API tools
Flask-RESTful==0.3.9
Flask-API==2.1.1

# Additional packages
Flask-Bootstrap==3.3.7.1
Flask-WTF==1.1.1
